<section class="section filters">

    <div class="container">

        <div class="filters-top">

            <h2 class="section-title">
                Exercises
            </h2>

            <div class="filters-buttons">

                <button class="filter-btn active" data-filter="Muscles">
                    Muscles
                </button>

                <button class="filter-btn" data-filter="Body parts">
                    Body parts
                </button>

                <button class="filter-btn" data-filter="Equipment">
                    Equipment
                </button>

            </div>

        </div>

        <!-- SEARCH -->
        <form class="search-form">

            <input type="text" placeholder="Search" name="keyword" />

            <button type="submit">
                Search
            </button>

        </form>

    </div>

</section>