<header class="header">

    <div class="container header-container">

        <a href="./index.html" class="logo">
            ENERGY
        </a>

        <nav class="nav">

            <a href="./index.html">
                Home
            </a>

            <a href="./favorites.html">
                Favorites
            </a>

        </nav>

        <ul class="social-list">

            <li>
                <a href="https://www.facebook.com/goITclub/" target="_blank">
                    FB
                </a>
            </li>

            <li>
                <a href="https://www.instagram.com/goitclub/" target="_blank">
                    IG
                </a>
            </li>

            <li>
                <a href="https://www.youtube.com/c/GoIT" target="_blank">
                    YT
                </a>
            </li>

        </ul>

    </div>

</header>